
.clients{
    width: 100%;

}
.clients-text-description{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}
.clients-text-description >pre{
    font-size: 3em;
    color: #252B42;
}
.clients-text-description > div{
    width: 50%;
    text-align: center;
    color: grey;
}
.clients-list{
    padding: 5px 10vw;
    width: 100%;
}
.customers-review{
    width: 100%;
    /* background-color: red; */
    height: 200px;
    border: solid;
}