
.strategy{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    position: relative;
}
.strategy>h1{
    color: #252B42;
    width: 250px;
    text-align: center;
}
.strategy>p{
    color: #737373;
    width: 190px;
    text-align: center;
}
.services-tab{
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.service-tab{
    width: 300px;
    height: 150px;
    background-color: #f6f6f6;
    border: 1px solid #dedede;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
}
@media (min-width: 768px) {
    .strategy > h1{
        width: 350px;
        letter-spacing: 0.4px;
        font-size: 2.5em;
    }
    .strategy > p{
        width: 300px;
        letter-spacing: 0.3px;
    }
    .services-tab{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0 7vw;
    }
}